//-- console.log("INSIDE INVITATION JADE locals == ", locals);

h3 Hi !{locals.name},
p !{locals.nameSender} left a new invitation for you.
br
p 
	b Subject: 
	!{locals.subjectSender}
p(style='white-space:pre') !{locals.textSender}
br
br
p We hope to hear from you soon!
br
h4 The Crafity Team
